// Couleurs principales
$primary-color: #53B9C6; // Bleu
$secondary-color: #2ecc71; // Vert
$accent-color: #E25141; // Rouge
$background-color: #FFE5DA; // Beige clair

// Typographie
$font-family: 'Arial', sans-serif;
$base-font-size: 16px;

// Espacements
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;

// Bordures
$border-radius: 10px;
$border-color: #ddd;

// Ombres
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
