.btn{
    display: inline-block;
    border:  solid #E25141;
    color: white;
    border-radius: 50px;
    width: 208px;
    height: 44px;
    font-family: 'Alef', sans-serif; /* Police "Alef" */
    font-size: 20px; /* Taille de la police */
    font-weight: bold;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); /* Ombre portée avec flou de 4px */
    cursor: pointer;
    &-primary{
        background-color: #E25141;
        // &:hover{
        //     background-color: lighten($primary-color, 10%);
        // }
    }

}
