header {
    background-color: #53B9C6; 
    width: 100%;
    box-sizing: border-box; 
    height: 111px; /* Hauteur du header */

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Aligne le h1 à gauche et les icônes à droite */
        height: 100%; /* Prend toute la hauteur du header */
        max-width: 1150px; /* Largeur maximale du header */
        margin: 0 auto; /* Centre le header horizontalement */
        h1 {
            color: black;
            font-size: 35px;
            font-family: 'Average';
            font-weight: normal; /* "Regular" signifie une épaisseur normale */
            margin: 0; /* Supprime les marges par défaut */
            

        }

        .nav-items {
            display: flex;
            align-items: center;
            gap: 45px; /* Espacement de 45px entre les éléments textuels */
            list-style: none;
            margin: 0; /* Supprime les marges par défaut */
            padding: 0; /* Supprime les paddings par défaut */
            position: absolute; /* Position absolue pour centrer les textes */
            left: 50%; /* Centre horizontalement */
            transform: translateX(-50%); /* Ajuste le centrage */

            /* Style pour les textes */
            .text-item {
                a {
                    text-decoration: none;
                    color: black;
                    font-family: 'Alef', sans-serif; /* Police "Alef" */
                    font-size: 20px; /* Taille de la police */
                    font-weight: normal; /* Style "Regular" */
                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 14px; /* Espacement entre les icônes */

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    color: white;
                }

                img {
                    width: 32px; /* Taille des icônes */
                    height: 32px;
                    vertical-align: middle; /* Aligne les icônes verticalement */
                }
            }
        }
    }
    
}