@use 'variables'; // Assure-toi d'avoir un fichier _variables.scss avec $accent-color
@use 'mixins';
@use 'buttons';
@use 'header';
@use 'banner';
@use 'featured';
@use 'categories';
@use 'footer';
@use 'avatar';

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFE5DA;
    font-family: 'Alegreya Sans', sans-serif;
    height: 100vh; /* Hauteur minimale de la vue (viewport height) */
}

main {
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    margin-top: 10px;
}

.tracking-section {
    text-align: left;
    padding: 20px;
    background-color: #FFE5DA;
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
}

.tracking-section h2 {
    font-size: 24px;
    font-family: 'Averia Serif Libre', serif;
    display: flex;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #D9534F;
    border-radius: 50%;
    margin-left: 5px;
}

.breadcrumb {
    text-align: right; /* Aligner le texte à droite */
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.tracking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste selon le besoin */
}

.map-container img {
    width: 100%;
    border-radius: 10px;
}

.contact-delivery-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D9534F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}
